body{
    background-color: #7ba1ff;
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

input:invalid {
    border: 1px solid #c3ced5;
    border-radius: 5px;
}
input:valid {
    border: 1px solid #7ba1ff;
}

.button{
    width:170px;
    height:25px;
    border-radius: 5px;
    background-color: #418bca;
    color: white;
}

.box.my-flex-container{
    max-width: 300px;
    max-height: 600px;
    width: 600px;
    height: 220px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 7px;
    margin: auto;
    text-align: center;
}